.listWrapper {
    border: solid pink 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.listItem {
    border: solid blue 1px;
    background-color :rgb(210, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-wrap: wrap;
    width: 20%;
    margin: 10px;
}
.listItem img {
    width: 8em;
}