
.App{
    background-color: rgb(236, 240, 236);
}
.navBar {
    
    box-sizing: border-box;
    /* border: limegreen solid 4px; */
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav > div {
    border:magenta solid 3px;
}